<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 系统级别日志记录APPENDER -->
	<appender name="ROOT" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="/Users/mac/output/logs/spucrawl/crawl.log" />
		<param name="encoding" value="GBK" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="(%r ms) [%t] %-5p: %c#%M %x: %m%n" />
		</layout>
	</appender>

	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="(%r ms) [%t] %-5p: %c#%M %x: %m%n" />
		</layout>
	</appender>

	<logger name="webcrawl">
		<level value="DEBUG" />
	</logger>

	<logger name="webcrawl.flow" additivity="false">
		<level value="DEBUG" />
	</logger>

	<logger name="webcrawl.run.JobProgressChecker">
		<level value="DEBUG" />
		<appender-ref ref="ROOT"/>
	</logger>

	<root>
		<level value="ERROR" />
		<appender-ref ref="ROOT" />
	<!-- 	<appender-ref ref="consoleAppender" />   -->
	</root>
</log4j:configuration>
